<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href=".{% static 'Booking/CSS/booking.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--Typehead.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

</head>
<body>

    {% block content %}


    

    {% endblock content %}
    
<!--Code for Real time search suggestion-->
<script>
    $(document).ready(function() {
        $('#search-bar').typeahead({
            hint: false,
            highlight: true,
            minLength: 1,
        }, {
            name: 'venues',
            display: 'name',
            source: function(query, syncResults, asyncResults) {
                $.get('/booking/search-suggestions/', { query: query }, function(data) {
                    asyncResults(data);
                });
            },
            templates: {
                suggestion: function(data) {
                    return '<div class="search-suggestion-wrapper" style="background-color: white; padding: 5px;">' + 
                       '<div class="search-suggestions">' + data.name + '</div>' + 
                   '</div>';
                }
            }
        });

        // Ensure the form is submitted when a suggestion is selected
        $('#search-bar').bind('typeahead:select', function(ev, suggestion) {
            $(this).typeahead('val', suggestion.name);
            $('#search-form').submit();
        });
    });


    $(document).ready(function() {
        $('#search-bar-professionals').typeahead({
            hint: false,
            highlight: true,
            minLength: 1
        }, {
            name: 'professionals',
            display: 'name',
            source: function(query, syncResults, asyncResults) {
                $.get('/booking/search-suggestions-professionals/', { query: query }, function(data) {
                    asyncResults(data);
                });
            },
            templates: {
                suggestion: function(data) {
                    return '<div class="search-suggestions">' + data.name + '</div>';
                }
            }
        });

        // Ensure the form is submitted when a suggestion is selected
        $('#search-bar-professionals').bind('typeahead:select', function(ev, suggestion) {
            $(this).typeahead('val', suggestion.name);
            $('#search-form').submit();
        });
    });

    //side filter panel
    document.getElementById("openFilterMenuBtn").onclick = function() {
        document.getElementById("filterMenu").style.width = "300px";
    };

    document.getElementById("closeFilterMenuBtn").onclick = function() {
        document.getElementById("filterMenu").style.width = "0";
    };
</script>

    
    
</body>
</html>
