<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="{% static 'Booking/CSS/booking.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--Typehead.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

</head>
<body>
    <div class="navbar">
       <div class="left-navbar">
            <a href="{% url 'mainpage:mainpage'%}"><img id="navbar-logo" src="{% static 'Accounts/IMAGES/ayojan-logo1.png'%}" alt="logo"></a>
            
            <div>
                <a href="{% url 'Booking:bookingpage'%}">Venues</a>
            </div>
            <div>
                <a href="{% url 'Booking:professional'%}">Professionals</a>
            </div>
        
       </div>
 
            
        <div class="right-navbar">
            <div class="profile-or-login">
                {% if user.is_authenticated %}
                    <a href="{% url 'Accounts:profile_view' %}"><button id="profile-btn">Profile</button></a>
                {% else %}
                    <a href="{% url 'Accounts:login_view' %}"><button id="login-btn">login</button></a>
                {% endif %}
            </div>
            <div class="cart-button">
                <a href="{% url 'Booking:cartpage' %}"><button id="cart-btn">Cart Logo</button></a>
            </div>
       </div>
    </div>

    {% block content %}

    {% endblock content %}
    
<!--Code for Real time search suggestion-->
<script>
    $(document).ready(function() {
        $('#search-bar').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'venues',
            display: 'name',
            source: function(query, syncResults, asyncResults) {
                $.get('/booking/search-suggestions/', { query: query }, function(data) {
                    asyncResults(data);
                });
            },
            templates: {
                suggestion: function(data) {
                    return '<div class="search-suggestions">' + data.name + '</div>';
                }
            }
        });

        // Ensure the form is submitted when a suggestion is selected
        $('#search-bar').bind('typeahead:select', function(ev, suggestion) {
            $(this).typeahead('val', suggestion.name);
            $('#search-form').submit();
        });
    });


    $(document).ready(function() {
        $('#search-bar-professionals').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'professionals',
            display: 'name',
            source: function(query, syncResults, asyncResults) {
                $.get('/booking/search-suggestions-professionals/', { query: query }, function(data) {
                    asyncResults(data);
                });
            },
            templates: {
                suggestion: function(data) {
                    return '<div class="search-suggestions">' + data.name + '</div>';
                }
            }
        });

        // Ensure the form is submitted when a suggestion is selected
        $('#search-bar-professionals').bind('typeahead:select', function(ev, suggestion) {
            $(this).typeahead('val', suggestion.name);
            $('#search-form').submit();
        });
    });

    //side filter panel
    document.getElementById("openFilterMenuBtn").onclick = function() {
        document.getElementById("filterMenu").style.width = "300px";
    };

    document.getElementById("closeFilterMenuBtn").onclick = function() {
        document.getElementById("filterMenu").style.width = "0";
    };
</script>

    
    
</body>
</html>
