<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profile</title>
</head>
<body>

<div class="profile-container">
    <h2>Account Profile</h2>
    <div class="profile-details">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <!-- Add more profile details as needed -->
    </div>
    <div class="profile-actions">
        <a href="" class="profile-btn">Edit Profile</a>
        <a href="" class="profile-btn">Change Password</a>
        <a href="{% url 'Accounts:signout'%}" class="profile-btn">Sign out</a>
        <!-- Add more profile actions as needed -->
    </div>
</div>

</body>
</html>
